body {
	height: 100vh;
	background-color: #666;

}

.page-frame {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid red;
	background-color: #555;
}

.content-frame {
	text-align: left;
	padding: 0 1.5em;
	background-color: #fff;
}